<div class="columns is-centered is-mobile">
  <div class="column is-one-third-desktop is-half-tablet is-three-quarters-mobile">
    <h2 class="title is-2">Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, class: "label" %>
        <div class="control">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :password, class: "label" %>
        <div class="control">
          <%= f.password_field :password, autocomplete: "current_password", class: "input" %>
        </div>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <div class="control">
            <%= f.check_box :remember_me, class: "checkbox" %>
            <%= f.label :remember_me, class: "checkbox" %>
          </div>
        </div>
      <% end %>

      <div class="field">
        <div class="control">
          <%= f.submit "Log in", class: "button is-primary is-fullwidth" %>
        </div>
      </div>
    <% end %>

    <div class="divider">
      <hr class="bar" />
      <span>OR</span>
      <hr class="bar" />
    </div>

    <%= button_to user_google_oauth2_omniauth_authorize_path, data: { turbo: false }, class: "button is-fullwidth" do %>
      <span class="icon is-small">
        <%= image_tag("google_icon.svg") %>
      </span>
      <span>Sign in with Google</span>
    <% end %>
  </div>
</div>

